@font-face {
  font-family: "CustomFont";
  src: url("assets/fonts/VisbyCF/VisbyCF-Medium.otf");
}
@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: "CustomFont";
  overflow-x: hidden;
}

.create-text {
  color: #000;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.free-trail-text {
  color: #eb0c50;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rating-text {
  color: grey;
  margin-left: 10px;
  font-size: x-large;
}
.landing-page-button {
  background-color: #000;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  padding: 1.2rem 0rem 1.2rem 0rem;
  color: white;
}
.landing-page-button-text {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.landing-page-button:hover {
  background-color: #eb0c50;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

tbody tr:nth-child(odd) td:nth-child(2),
tbody tr:nth-child(even) td:nth-child(2) {
  color: white;
  background-color: #eb0c50;
}

thead tr th:nth-child(2) {
  border-radius: 15px 15px 0 0;
  color: white;
  background-color: #eb0c50;
}

tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
tbody tr:nth-of-type(even) {
  background-color: #e9ecef;
}

th img {
  margin-bottom: 1rem; /* Adjust spacing between image and text */
  width: 48px;
  height: 52px;
}
td:first-child,
th:first-child {
  text-align: left; /* Left-align content in the first column */
}

td,
th {
  text-align: center;
  padding: 25px;
  background-color: #fff; /* or any uniform color you prefer */
}
.design-text {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.liscense-text {
  color: #000;
  font-family: "OpenSans";
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.desktop-brands {
  display: block;
}
.mobile-brands {
  display: none;
}
.top-container {
  padding: 2.5rem 1.5rem 3rem 3rem;
}
.three-lines {
  display: none;
}
.white-card {
  border-radius: 20.459px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 3.53px 30.884px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
.black-card {
  border-radius: 20.459px;
  border: 1px solid #000;
  background: linear-gradient(232deg, #2d2d2d 8.61%, #000 87.74%);
  padding: 1rem 1rem 3.2rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden; /* Ensure image doesn't overflow the card */
  /* height: 400px; */
}

.background-image-dog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 100px; /* Adjust size as necessary */
  max-height: 100px; /* Adjust size as necessary */
  opacity: 0.5; /* Adjust transparency as necessary */
}
.red-text {
  color: #eb0c50;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1.5rem;
}
.red-text-black {
  color: #eb0c50;
  font-size: 1.7rem;
  font-weight: 600;
}
.normal-card-text-black {
  color: #000;
  /* font-family: "Visby CF"; */
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}
.normal-card-text-white {
  color: white;
  /* font-family: "Visby CF"; */
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.name-text {
  color: #000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 148%; /* 47.952px */
}
.username-text {
  color: #eb0c50;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* font-family: "Visby CF"; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 148%; /* 38.847px */
}

@media only screen and (max-width: 1400px) {
  .landing-page-button-text {
    font-size: 1.5rem;
  }
  .create-text {
    font-size: 3.5rem;
  }
  .free-trail-text {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .landing-page-button-text {
    font-size: 1.3rem;
  }
  .create-text {
    font-size: 3rem;
  }
  .free-trail-text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .landing-page-button-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .rating-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .create-text {
    text-align: center;
    font-size: 50px;
  }
  .free-trail-text {
    text-align: center;
    font-size: 25px;
  }
  .rating-text {
    font-size: 22px;
  }
  .buttons-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
  .desktop-brands {
    display: none;
  }
  .mobile-brands {
    display: block;
  }
  .design-text {
    font-size: 30px;
  }
  .liscense-text {
    font-size: 20px;
  }
  .three-lines {
    display: block;
  }
  #d-1 {
    order: 2;
  }
  #d-2 {
    order: 1;
  }
  #d-3 {
    order: 3;
  }
  .red-text {
    font-size: 1.2rem;
  }
  .normal-card-text-black {
    font-size: 1rem;
  }
  .normal-card-text-white {
    font-size: 1rem;
  }
  .landing-page-button-text {
    font-size: 1.5rem;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-page-button {
    padding: 1rem 2rem 1rem 2rem;
  }
}

@media only screen and (max-width: 576px) {
  th img {
    width: 38px;
    height: 42px;
  }
}
