@font-face {
  font-family: "CustomFont";
  src: url("assets/fonts/VisbyCF/VisbyCF-Medium.otf");
}
@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: "CustomFont";
  overflow-x: hidden;
}

/* .buttons-wrapper button {
  padding: 20px 30px;
} */

.create-text {
  color: #000;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.free-trail-text {
  color: #eb0c50;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.rating-text {
  color: grey;
  font-size: 1.3rem;
}
.landing-page-button {
  background-color: #000;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  padding: 1.2rem 0rem 1.2rem 0rem;
  color: white;
}
.landing-page-button-text {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}
.icon-container {
  width: 3rem;
  height: 3rem;
}
.landing-page-button:hover {
  background-color: #eb0c50;
}
.landing-page-button:hover #img-1 {
  content: url(assets/images/message-hover.svg);
}

.landing-page-button:hover #img-2 {
  content: url(assets/images/apple-hover.svg);
}

.landing-page-button:hover #img-3 {
  content: url(assets/images/google-hover.png);
}
.img-container {
  margin-top: 0px; /* Adjust the value as needed */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

tbody tr:nth-child(odd) td:nth-child(2),
tbody tr:nth-child(even) td:nth-child(2) {
  color: white;
  background-color: #eb0c50;
}

thead tr th:nth-child(2) {
  border-radius: 15px 15px 0 0;
  color: white;
  background-color: #eb0c50;
  width: 18%;
}

tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
tbody tr:nth-of-type(even) {
  background-color: #e9ecef;
}

th img {
  margin-top: 0rem;
  margin-bottom: 1rem; /* Adjust spacing between image and text */
  height: 52px;
  /* width: 48px; */
}
td:first-child,
th:first-child {
  text-align: left; /* Left-align content in the first column */
}

td,
th {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  font-size: 1.5rem;
}
.design-text {
  color: #000;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05em;
}
.liscense-text {
  color: #000;
  font-family: "OpenSans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trusted-text {
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-bottom: 4rem;
  margin-top: 5rem;
}
.desktop-brands {
  display: block;
}
.mobile-brands {
  display: none;
}
.top-container {
  padding: 2.5rem 1.5rem 3rem 3rem;
}
.three-lines {
  display: none;
}
.white-card {
  border-radius: 20.459px;
  background: #fff;
  box-shadow: 0px 3.53px 30.884px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10%;
}
.black-card {
  border-radius: 20.459px;
  border: 1px solid #000;
  background: linear-gradient(232deg, #2d2d2d 8.61%, #000 87.74%);
  padding: 12% 12% 15% 12%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden; /* Ensure image doesn't overflow the card */
}

.background-image-dog {
  position: absolute;
  bottom: 1.3rem;
  left: 0.8rem;
  width: auto;
  height: 5.5rem;
  max-width: 150px;
  max-height: 150p5;
  opacity: 0.5; /* A5just transparency as necessary */
}
.red-text {
  color: #eb0c50;
  font-size: 1.4rem;
  font-weight: 600;
}
.red-text-black {
  color: #eb0c50;
  font-size: 1.7rem;
  font-weight: 600;
}
.normal-card-text-black {
  color: #000;
  /* font-family: "Visby CF"; */
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}
.normal-card-text-white {
  color: white;
  /* font-family: "Visby CF"; */
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
}

.name-text {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.username-text {
  color: #eb0c50;
  /* font-family: "Visby CF"; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.text-container-padding {
  padding: 10%;
}
.card-wrapper {
  margin-top: -60px;
}
.profile-picture {
  height: 60px;
  width: 60px;
}
.banner-mobile {
  display: none;
}
.banner-web {
  display: block;
}
.instagram-icon {
  width: 20px;
  height: 20px;
}

.icon-container img {
  max-width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .top-container {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 1400px) {
  .landing-page-button-text {
    font-size: 1.5rem;
  }
  .icon-container {
    height: 2.8rem;
    width: 2.8rem;
  }
  .create-text {
    font-size: 3.1rem;
  }
  .free-trail-text {
    font-size: 1.8rem;
  }
  .rating-text {
    font-size: 1.1rem;
  }
  .white-card {
    padding: 1.5rem;
  }
  /* .black-card {
    padding: 2.2rem 1rem 3.7rem 1rem;
  } */
  .red-text {
    font-size: 1.3rem;
  }
  .red-text-black {
    font-size: 1.5rem;
  }
  .normal-card-text-black,
  .normal-card-text-white {
    font-size: 1rem;
  }
  .name-text {
    font-size: 1.2rem;
  }
  .username-text {
    font-size: 0.8rem;
  }
  .profile-picture {
    height: 40px;
    width: 40px;
  }
  .trusted-text {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .landing-page-button-text {
    font-size: 1.3rem;
  }
  .icon-container {
    height: 2.5rem;
    width: 2.5rem;
  }
  .create-text {
    font-size: 2.7rem;
  }
  .free-trail-text {
    font-size: 1.7rem;
  }
  .rating-text {
    font-size: 1rem;
  }
  .red-text {
    font-size: 1.2rem;
  }
  .red-text-black {
    font-size: 1.4rem;
  }
  .normal-card-text-black,
  .normal-card-text-white {
    font-size: 1rem;
  }

  .name-text {
    font-size: 1.2rem;
  }
  .username-text {
    font-size: 0.8rem;
  }
  .profile-picture {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .landing-page-button-text {
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  .icon-container {
    height: 2.3rem;
    width: 2.3rem;
  }
  .create-text {
    font-size: 2rem;
  }
  .free-trail-text {
    font-size: 1.2rem;
  }
  .rating-text {
    font-size: 0.7rem;
  }
  .background-image-dog {
    opacity: 0;
  }
  .red-text {
    font-size: 1rem;
  }
  .red-text-black {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .rating-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
  }
  .create-text {
    text-align: center;
    font-size: 3.3rem;
  }
  .free-trail-text {
    text-align: center;
    font-size: 1.6rem;
  }
  .desktop-brands {
    display: none;
  }
  .mobile-brands {
    display: block;
  }
  .design-text {
    font-size: 2rem;
  }
  .trusted-text {
    font-size: 1.3rem;
  }
  .liscense-text {
    font-size: 20px;
  }
  .three-lines {
    display: block;
  }
  #d-1 {
    order: 2;
  }
  #d-2 {
    order: 1;
  }
  #d-3 {
    order: 3;
  }
  .red-text {
    font-size: 1.2rem;
  }
  .normal-card-text-black {
    font-size: 1rem;
  }
  .normal-card-text-white {
    font-size: 1rem;
  }
  .landing-page-button-text {
    font-size: 1.5rem;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-page-button {
    padding: 1rem 2rem 1rem 2rem;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  td,
  th {
    font-size: 1rem;
    max-width: 25%;
    padding: 15px;
  }
  .black-card {
    border-radius: 0px 0px 20.5px 20.5px;
  }
  .red-text {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .red-text-black {
    font-size: 1.5rem;
  }
  .normal-card-text-black {
    font-size: 1.1rem;
  }
  .normal-card-text-white {
    font-size: 1.1rem;
  }
  .username-text {
    margin-left: 2px;
  }
  .icon-container {
    width: 2rem;
    height: 2rem;
  }
  .profile-picture {
    height: 35px;
    width: 35px;
  }
  .background-image-dog {
    opacity: 0.5;
  }
  .card-wrapper {
    margin-top: 0px;
  }
  .banner-mobile {
    display: block;
  }
  .banner-web {
    display: none;
  }
  .instagram-icon {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (max-width: 576px) {
  th img {
    /* width: 38px; */
    height: 42px;
  }
  td,
  th {
    font-size: 0.75rem;
    max-width: 25%;
    padding: 10px;
  }

  .create-text {
    font-size: 2.5rem;
  }
  .free-trail-text {
    font-size: 1.3rem;
  }
  .rating-text {
    font-size: 1.1rem;
  }
  .landing-page-button-text {
    font-size: 1.2rem;
  }
  .red-text-black {
    font-size: 1.3rem;
  }
  .red-text {
    font-size: 1.1rem;
  }
  .normal-card-text-black,
  .normal-card-text-white {
    font-size: 0.9;
  }
  .trusted-text {
    font-size: 1.4rem;
  }
}
